@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 60%;
  height: 70%;
}

.card{
  margin: .2%;
}

.front-face, .back-face{
  width: clamp(80px, 11vw, 240px);
  height: clamp(105px, 14vw, 320px);
}

#done-screen article{
  gap: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .card{
      width: 40%;
    }
    .memory-game{
      width: 80%;
      height: 70%;
    }
}