@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 70%;
  height: 80%;
}

.card{
  margin: .2%;
}

.front-face, .back-face{
  width: clamp(70px, 9.5vw, 180px);
  height: clamp(90px, 12vw, 230px);
}

#done-screen article{
  gap: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .card{
      width: 30%;
      margin: .2%;
    }
    .memory-game{
      width: 80%;
      height: 80%;
    }
}