@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.memory-game{
  width: 70%;
  height: 80%;
}

.card{
  margin: .2%;
}

.front-face, .back-face{
  width: clamp(60px, 8vw, 140px);
  height: clamp(80px, 11vw, 180px);
}

#done-screen article{
  gap: 30px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .card{
      width: 20%;
    }
    .memory-game{
      width: 80%;
      height: 80%;
    }
}